<!DOCTYPE html>
<html lang='en-US'>
<head>
  <title>LOGIN APP</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
            {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            {{{body}}}
        <footer class="footer">
          <p>&copy; 2019 TARGET, TW2 2019</p>
        </footer>
      </div> <!-- /container -->
</body>
</html>
