<!doctype html>
<html>

<head>
    <title>Target</title>
    <style>
/*
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
*/

    </style>
</head>
<script>
    $(document).ready(function() {
        let players = [];
        let idRound;
        let username;
        let socket=io();
        $("#startButton").on({
            click: function(){
                $("#startButton").hide();

        $('#target').hide();
        username = "{{username}}";
        console.log(username);
        socket.emit('setUsername',username);

        socket.on('userTaken', function(msg){
            $("#error").html(msg);
        })
        
        socket.on('round', function(msg) {
            var randomColor = Math.floor(Math.random()*16777215).toString(16);
            console.log(msg["coordinates"]);
            $('#target').css('transform', `translate(${msg["coordinates"][0]}vw,${msg["coordinates"][1]}vh)`);
            $('#target').css('background-color',"#"+randomColor);
           // $('#target').css('box-shadow'," inset 0 0 50px " + "#" +randomColor +"," + " 0 0 1px #" + randomColor +","
                           //   + "10px 0 80px #"+randomColor+";");
            players = msg["players"];
            var i;
            $('li').remove();
            for (i = 0; i < players.length; i++) {
                const unLi = $("<li></li>");
                unLi.html(`${players[i]["login"]} : ${players[i]["score"]}`);
                console.log("Score displayed");
                unLi.addClass("displayScore");
                $("#score").append(unLi);
            }
        });
        socket.on('idRound', function(id){
            idRound = id;
            console.log(idRound);
        })
        socket.on("Start", function(msg){
            console.log("START");
            $('#target').show();
            socket.emit('GO',{"idRound": idRound, "user": username});
        })
        $('#target').on({
            click: function() {
                socket.emit('target', {"idRound": idRound, "user": username});
            }
        })

        }
        })
        socket.on('end', function(msg){
            console.log("END");
            $('#target').hide();
            $("#startButton").show();
            socket.disconnect();
        });
            socket.on('abort', function(msg){
            console.log("ABORT!");
            $('#target').hide();
            $("#startButton").show();
            socket.disconnect();
            socket = io();
        });
        window.addEventListener('beforeunload', function (e) {
            socket.emit('leaving', {"idRound": idRound, "user": username});
            console.log("Unload");
        });
    });
</script>

<body>
<p id="target"></p>
<p id="error"></p>
<ul id="score"></lu>
    <p class="anim"  id="startButton"><a>Let's Start</a></p>
    <br/>
    <br/>
    <br/>
</body>

</html>
