<!doctype html>
<html>

<head>
    <title>Target</title>
    <style>
        html, body{overflow:hidden;}
        #startButton {
            color: #69e6ee;
        }

        footer{
            position: absolute;
            bottom:0;
            left:22%;
            width:50%;
        }

        footer p {
            position:relative;
            left:3%;
        }

        #gameSpace{
            position:absolute;
            display: block;
            right:0;
            top:20%;
            width:100%;
            height:70%;
        }

    </style>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function() {
        $("#gameSpace").hide();
        let players = [];
        let idRound;
        let username;
        let socket=io();
        $("#startButton").on({
            click: function(){
                $("#gameSpace").show();
                $("#startButton").hide();
                socket=io();
                $('#target').hide();
                username = "{{username}}";
                console.log(username);
                socket.emit('setUsername',username);
                socket.on('userTaken', function(msg){
                    $("#error").html(msg);
                });

                socket.on('round', function(msg) {
                    var randomColor = Math.floor(Math.random()*16777215).toString(16);
                    console.log(msg["coordinates"]);
                    $('#target').css('top', `${msg["coordinates"][0]}%`);
                    $('#target').css('left', `${msg["coordinates"][1]}%`)
                    $('#target').css('background-color',"#"+randomColor);
                    // $('#target').css('box-shadow'," inset 0 0 50px " + "#" +randomColor +"," + " 0 0 1px #" + randomColor +","
                    //   + "10px 0 80px #"+randomColor+";");
                    players = msg["players"];
                    var i;
                    $('li').remove();
                    for (i = 0; i < players.length; i++) {
                        const unLi = $("<li></li>");
                        unLi.html(`${players[i]["login"]} : ${players[i]["score"]}`);
                        console.log("Score displayed");
                        unLi.addClass("displayScore");
                        unLi.addClass("glow");
                        $("#score").append(unLi);
                    }
                });
                socket.on('idRound', function(id){
                    idRound = id;
                    console.log(idRound);
                })
                socket.on("Start", function(msg){
                    console.log("START");
                    $('#target').show();
                    socket.emit('GO',{"idRound": idRound, "user": username});
                })
                $('#target').on({
                    click: function() {
                        socket.emit('target', {"idRound": idRound, "user": username});
                    }
                })
                socket.on('end', function(msg){
                    console.log("END");
                    $('#target').hide();
                    $("#startButton").show();
                    socket.disconnect();
                    location.reload(true);
                });
                socket.on('abort', function(msg){
                    console.log("ABORT!");
                    $('#target').hide();
                    $("#startButton").show();
                    socket.disconnect();
                    location.reload(true);
                });
                window.addEventListener('beforeunload', function (e) {
                    socket.emit('leaving', {"idRound": idRound, "user": username});
                    console.log("Unload");
                });
            }
        })
    });
</script>

<body>
<p class="anim"  id="startButton"><a>Let's Start</a></p>
<div id="gameSpace"><p id="target"></p>
    <p id="error"></p></div>

<ul id="score"></ul>
<br/>
<br/>
<br/>
</body>

</html>