<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        #target {
            background-color: blue;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        .displayScore{
            font-size: 50px;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function() {
        $("#startButton").on({
            click: function(){
                $("#startButton").hide();

        let players = [];
        $('#target').hide();
        const socket = io();
        let idRound;
        var username = "{{username}}";
        console.log(username);
        socket.emit('setUsername',username);
        
        socket.on('round', function(msg) {
            console.log(msg["coordinates"]);
            $('#target').css('transform', `translate(${msg["coordinates"][0]}vw,${msg["coordinates"][1]}vh)`);
            players = msg["players"];
            var i;
            $('li').remove();
            for (i = 0; i < players.length; i++) {
                const unLi = $("<li></li>");
                unLi.html(`${players[i]["login"]} : ${players[i]["score"]}`);
                console.log("Score displayed");
                unLi.addClass("displayScore");
                $("#score").append(unLi);
            }
        });
        socket.on('idRound', function(id){
            idRound = id;
            console.log(idRound);
        })
        socket.on("Start", function(msg){
            console.log("START");
            $('#target').show();
            socket.emit('GO');
        })
        $('#target').on({
            click: function() {
                socket.emit('target', username);
            }
        })
        socket.on('end', function(msg){
            console.log("END");
            $('#target').hide();
            $("#startButton").show();
            socket.disconnect();

});
            }
        })
    });
</script>

<body>
<p id="target"></p>
<ul id="score"></lu>
<button id="startButton">Let's start!</button>
</body>

</html>