<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Audiowide"/>
    <link rel="stylesheet" type="text/css" href="/css/highscores.css"/>
</head>

<body>

<div id="container">
    <h1>Ranking</h1>

    <div id="user-box">
        {{#each user}}
            <p class="user">{{numero}} - {{name}} : {{highScore}}</p>
        {{/each}}
    </div>

    <div>
        <input type="text" id="inpLogin" class="form-control" name="pseudo" placeholder="Pseudo">
        <input type="button" id="btnSearch" class="btn btn-default" name="search" value="Search a player">
        <a href="/users"> <input type="button" class="btn btn-default" value="Go back"> </a>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/highscores.js"></script>
</body>

</html>