<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>

    <link rel="stylesheet" type="text/css" href="/css/highscores.css"/>
    <style>
        .head b{
            color: #e6ff2f;
            text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffea3f, 0 0 0.5em #faff1c, 0 0 0.1em #fffe27, 0 10px 3px #000;
        }
    </style>
</head>

<body>

<div id="container">
    <div class="head">
        <b>R<span>an</span>kin<span>g</b>
    </div>

    <div id="user-box">
        {{#each user}}
            <p class="user">{{numero}} - {{name}} : {{highScore}}</p>
        {{/each}}
    </div>

    <div>
        <input type="text" id="inpLogin" name="pseudo" placeholder="Pseudo">
        <input type="button" id="btnSearch" name="search" value="Search a player">
    </div>
</div>

<script type="text/javascript" src="/js/highscores.js"></script>
</body>

</html>