<head>
</head>


<div id="TARGET">
    <div class="shield"></div>
    <div class="outer"></div>
    <div class="inner"></div>
</div>
<br/>
<br/>

<div>
{{#if user}}
    <p class="anim"  ><a href="/game">Play</a></p>
    <p class="anim"><a href="/chat">Chat</a></p>
    <p class="anim"><a href="/highscores">High Score</a></p>
    <p class="anim"><a href="/help">Help</a></p>
    <p class="anim"><a href="/users/logout">Logout</a></p>
{{else}}
    <!--TARGET-->
    <!--OPTIONS-->
    <p class="anim" ><a href="/users/login">Login</a></p>
    <p class="anim"><a href="/users/register">Register</a></p>
    <p class="anim" ><a href="/highscores">High Score</a></p>
    <p class="anim" ><a href="/help">Help</a></p>
{{/if}}
</div>


