<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Audiowide"/>
    <style>
        /*Target Logo*/
        .head b{
            color: #e6ff2f;
            text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffea3f, 0 0 0.5em #faff1c, 0 0 0.1em #fffe27, 0 10px 3px #000;
        }s
    </style>
</head>

<body>


<div class="head">
    <b>L<span>og</span>i<span>n</b>
</div>


<form method="post" action="/users/login">
  <div class="form-group">
    <label class="glow">Username</label>
      <br/>
    <input type="text" class="form-control" name='username' placeholder="Username">
  </div>
  <div class="form-group">
    <label class="glow">Password</label>
      <br/>
    <input type="password" class="form-control" name='password' placeholder="Password">
  </div>
  <button type="submit" class="btn">Send</button>
</form>
<br/>
</body>